<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>

    <title>Информация о товаре</title>

    <link rel="icon" href="https://3.bp.blogspot.com/-bxNMNuCjRUw/WZ1Ef5kwDrI/AAAAAAAAJXc/2BYl6u1wgO81afKDai6Q-DmezMQbIaiuACEwYBhgL/s320/shopping-cart-icon-19.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(Cart)}"/>
    <h1>Информация о товаре:</h1>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <td sec:authorize="hasRole('ADMIN')">ID товара</td>
            <td>Наименование товара</td>
            <td>Описание</td>
            <td>Цена</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td sec:authorize="hasRole('ADMIN')" th:text="${selectedProduct.id}"/>
            <td th:text="${selectedProduct.title}"/>
            <td th:text="${selectedProduct.description}"/>
            <td th:text="${selectedProduct.price}"/>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-secondary" th:href="@{'/shop'}">Назад</a>
</div>
</body>
</html>